/* Resetear estilos por defecto del navegador */
body, h1, h2, h3, p, ul, li, form, input, textarea {
    margin: 0;
    padding: 0;
}

/* Estilos del fondo de pantalla */
body {
    background: url('../Imagenes/thumb-1920-923986.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh; /* 100% del viewport height */
    margin: 0;
    font-family: 'Arial', sans-serif; /* Puedes cambiar la fuente según tus preferencias */
}

/* Estilo HEADER encabezado blanco transparente con altura fija */
header{
    background-color: #ffffff;
    margin: 0%; 
}

    /*Logo de la pagina que redireccionar a home*/
    #logo{
        width: 100px;
        height: 70px;
        background-size: cover;
        border-radius: 15px;
        cursor: pointer;
    }
        
    /* Estilos para el botón flotante */
    .container-boton {
        position: fixed;
        z-index: 999;
        border-radius: 50%;
        bottom: 15px;
        right: 20px;
        padding: 10px;
        transition: ease 0.3s;
        animation: efecto 1.2s infinite;
    }



/* Estilos para panel de navegacion */
.nav ul{
    list-style: none;
    text-align: center;
    background-image: url('img/soccer field background 1003.jpg');
    padding: 0%;
    margin: 0%;
}
  
.nav li{
    display: inline-block;
    background-color: #050505;
}

.nav a{
    color: white;
    text-decoration: double;
    width: 230px;
    display: block;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

/* Contenido */
/* Estilos para el contenedor principal */
.contenido {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 40px;
}

/* Estilo para la parte izquierda  (título, subtítulo y párrafo) de contacto */
.informacion {
    width: 50%; /* Ancho de la parte izquierda */
    text-align: center;
    margin-left: 5%;
    margin-bottom: 22px; /* Espacio entre cada línea de texto */
}


/* Estilos para el formulario y el texto a la derecha */
.formularioConteiner {
    max-width: 400px; /* Ancho máximo del contenedor del formulario */
    width: 100%; 
    
    text-align: left;
    background-color: rgb(255, 255, 255);   /* Fondo semi-transparente blanco para el formulario */
    padding: 20px;
    border-radius: 10px;
}

/* Formulario */
form { 
    text-align: left;
    padding: 20px;
    margin: 0 auto; /* Centra el formulario horizontalmente */
}

    textarea {
        display: block;
        margin-bottom: 15px;
        width: 100%;
        font-size: 16px;
        margin-bottom: 15px; /* Añadir margen inferior para separar los campos */ 
        resize: none; /* Evitar que el textarea sea redimensionable por el usuario */
        box-sizing: border-box;
    }


    /* Agregar un borde gris a los campos del formulario */
    form div[contenteditable="true"] {
        border: 1px solid #757474; /* Borde gris de 1 píxel */
        padding: 10px; /* Añadir un poco de espacio interno para mejorar la apariencia */
        margin-bottom: 15px; /* Espacio inferior entre los campos del formulario */
        width: 100%; /* Ancho del 100% para ocupar todo el contenedor */
        box-sizing: border-box; /* Incluir el padding y el borde en el ancho total */
    }

    .mensaje-validacion {
        color: red;
        font-size: 12px;
        margin-top: 5px;
    }

    h3, p1, p2, p3 {
        color: #fefefe;
        font-size: 20px;
    }

    .p1{
        color: #fefefe;
    }

    .p2{
        text-align: center; /* Centrar el texto */
        margin-top: 20px; /* Espacio superior para separar del párrafo anterior */
    }

    .p2 i {
        margin-right: 5px; /* Añade un espacio entre el ícono y el texto */
    }
    p4{ /* Titulo del formulario ¿Queres saber mas?*/
        color: black;
        font-size: 25px;
    }

    /* Estilo para el título informacion de Contacto */
    h2 {
        color: #fefefe;
        text-align: center;
        font-size: 50px;
        margin-bottom: 40px;
    }



/* Estilo FOOTER el pie de página con altura fija */
footer {
    background:black;
    text-align: center;
    position: fixed;
    width: 100%;
    height: 7%;
    bottom: 0;
    margin: 1px;
   
}

footer p {
    color: white; /* Cambia este valor al color que desees */
    margin-top: 10px;
    font-family: Arial, sans-serif;
}