/* Estilos generales para el cuerpo del documento */
body {
    margin: 0;
    padding: 0;
    background: #fbfbfb;
}

/* Estilos generales para la sección principal del contenido */
section {
    height: 500px;
    display: flex;
    margin: 2% auto;
}

/* Estilos responsivos para la sección principal */
section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%; /* Ajustar según sea necesario */
    max-width: 1168px; /* Ajustar según sea necesario */
    background: green;
    box-shadow: 0 25px 30px rgba(14, 13, 13, 0.5); 
}

/* Estilos responsivos para el primer contenedor de texto */
.contenedorTexto {
    width: 50%;
    height: auto;
    background: green;
    box-sizing: border-box;
    padding: 5% 5%; /* Ajustar según sea necesario */
    text-align: center;
    font-family: 'Alumni Sans Collegiate One';
    color: rgb(255, 255, 255);
    margin-top: 80px;
}

/* Estilos responsivos para el segundo contenedor de imagen */
.contenedorImagen {
    width: 50%;
    height: auto;
    background: green;
    box-sizing: border-box;
    border-left: 4px solid yellow;
    border-right: 4px solid green;
}

/* Estilos responsivos para la imagen */
.imagen {
    width: 100%; /* 2 imágenes por fila en pantallas más grandes */
}

.imagen img {
    max-width: 100%; /* Hacer la imagen responsiva */
    height: auto;
}

/* Estilos responsivos para la barra de navegación */
.nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
    background-image: url('img/soccer field background 1003.jpg');
}

.nav li {
    display: inline-block;
    background-color: #050505;
    margin-bottom: 5px;
}

.nav a {
    color: white;
    text-decoration: double;
    width: 230px;
    display: block;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

/* Estilo para el pie de página con altura fija */
footer {
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    margin: -30px;
}

/* Estilos responsivos para el botón flotante */
.container-boton {
    position: fixed;
    z-index: 999;
    border-radius: 50%;
    bottom: 15px;
    right: 20px;
    padding: 10px;
    transition: ease 0.3s;
    animation: efecto 1.2s infinite;
}

/* Estilos para los títulos */
.titulo1{
    font-size: 3em;
    text-align: left;
    left: 30%;
    margin: -1%;
}
.titulo2{
    font-size: 5em;
    margin: 2%;
}

/* Estilos para la frase y párrafo */
.frase{
    color: rgb(255, 255, 255);
    margin-bottom: 45px; 
    font-size: 1.1rem;
}

p{
    color: black;
    margin-bottom: 45px; 
    font-size: 1.2rem;
}

/* Estilos para los botones */
.boton1 {
    background-color: yellow;
    color: black;
    padding: 10px 20px; 
}
.boton2{
    background-color: hsl(0, 3%, 23%);
    color: antiquewhite;
    padding: 10px 20px;
}

/* Estilos para el botón de inicio de sesión */
.boton-sesion {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent; /* Fondo transparente */
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Efecto de transición al pasar el cursor */
    font-size: 1.2em;
}

.boton-sesion:hover {
    background-color: rgb(61, 76, 61); /* Cambia el color al pasar el cursor */
}

/* Estilos  para diferente tamaño de pantallas */
@media only screen and (max-width: 1200px) {
    body{
        margin-left: 20px auto;
        margin-right: 20px auto;
    }
    section {
        flex-direction: column; /* Apilar elementos verticalmente en pantallas más pequeñas */
        height: 300px; 
        display: flex;
        margin: 3% auto;      
        margin-top: -25px;
    }

    .contenedorTexto {
        width: auto; /* Tomar el ancho completo en pantallas más pequeñas */
        border: none; /* Eliminar bordes en pantallas más pequeñas */
        text-align: center; /* Centrar texto en pantallas más pequeñas */
    }

    .contenedorImagen{
        width: 100%;
    }

    .imagen img {
        max-width: 100%;
        height: auto;
        width: 100%; /* Ancho ajustado al 100% de su contenedor */
    }

    .imagen {
        width: 100%; /* 1 imagen por fila en pantallas más pequeñas */
        box-sizing: border-box;
    }

    .contenedorTexto {
        font-size: 0.7em; /* Tamaño de fuente ajustado para pantallas más pequeñas */
        text-align: center;   
        justify-content: center;
        margin-top: 20px;
    }

    .titulo1{
        left: 10%;
        margin: 5%;
    }

    .nav ul {
        list-style: none;
        text-align: center;  
        position: absolute; /* Fijar la barra de navegación en la parte superior */
        top: 80px;
        z-index: 4; /* Establecer un índice z más alto que contenedorTexto */
    }
}
