body{
    margin: 0;
    padding: 0;
    background: #fbfbfb;
}

section{
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 500px; /* altura */
    width: 1168px; /* ancho  */
    background: green;
    box-shadow: 0 25px 30px rgba(14, 13, 13, 0.5); /*sombra de caja div*/
    display: flex;
}
.mi-titulo1{
    font-size: 3em;
    text-align: left;
    left: 30%;
    margin: -1%;
}
.mi-titulo2{
    font-size: 5em;
    margin: 2%;
}

p{
    color: antiquewhite;
    margin-bottom: 50px; 
}
.boton1 {
    background-color: yellow;
    color: black;
    padding: 10px 20px; 
}
.boton2{
    background-color: hsl(0, 3%, 23%);
    color: antiquewhite;
    padding: 10px 20px;
}
  
.boton-sesion {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent; /* Fondo transparente */
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Efecto de transición al pasar el cursor */
    font-size: 1.2em;
}

.boton-sesion:hover {
    background-color: rgb(61, 76, 61); /* Cambia el color al pasar el cursor */
}

.contenedor1{
    width: calc(50% + 50px);
    height: auto;
    /*background: hsl(0, 3%, 23%);*/
    background: green; 
    box-sizing: border-box;
    padding: 80px 50px;
    text-align: center;
    padding: 10em 0;
    margin-left: 50px;
    margin-right: 50px;
    font-family: 'Alumni Sans Collegiate One';
    color: rgb(255, 255, 255);
    
}

.contenedor2{
    width: calc(48% + 48px);
    height: auto;  
    box-sizing: border-box;
    border-left: 4px solid yellow; 
    border-right: 4px solid green; 
}

.nav ul{
    list-style: none;
    text-align: center;
    background-image: url('img/soccer field background 1003.jpg');
    padding: 0%;
    margin: 0%;
}
  
.nav li{
    display: inline-block;
    background-color: #050505;
    
}  

.nav a{
    color: white;
    text-decoration: double;
    width: 230px;
    display: block;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    font-family:'Montserrat', sans-serif;
}

/* Estilo para el pie de página gris con altura fija */
footer {
    background-color: rgba(7, 1, 1, 0.9);
    padding: 40px;
    height: 10px; /* Altura fija */
    text-align: center; /* Centra el contenido horizontalmente */
}

footer p {
    color: #f3eeee; /* Cambia este valor al color que desees */
    
}