body {
    margin: 0%;
    font-family: Arial, sans-serif;
    background-image: url(Imagenes/FOOTBALL-RIVALS-FRIENDS-B2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header{
    background-color: #ffffff;
    margin: 0%;
    
}

h2{
    color: #000000;
    text-align: center;
    font-size: 30;
    
}

h3{
    color: #000000;
    text-align: center;
}



.nav ul{
    list-style: none;
    text-align: center;
    /* background-color: rgb(5, 4, 2); */
    background-image: url('Imagenes/img5.png');
}
  
.nav li{
    display: inline-block;
    background-color: #050505;
    
}  

.nav a{
    color: white;
    text-decoration: double;
    width: 230px;
    display: block;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    font-family:'Montserrat', sans-serif;
}

/* Estilo para el pie de página gris con altura fija */
footer {
    
    padding: 20px;
    height: 10px; /* Altura fija */
    text-align: center; /* Centra el contenido horizontalmente */
    font-family: 'Montserrat', sans-serif;
    
}

footer p {
    color: #050505; /* Cambia este valor al color que desees */ 
}

/* Estilos responsivos para el botón flotante */
.container-boton {
    position: fixed;
    z-index: 999;
    border-radius: 50%;
    bottom: 15px;
    right: 20px;
    padding: 10px;
    transition: ease 0.3s;
    animation: efecto 1.2s infinite;
}

/* Resto de tu código CSS */

/* Estilo para el formulario */
form {
    background-color: rgb(255, 255, 255);
    opacity: 0.95;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px; /* Ancho máximo del formulario */
    margin: 0 auto; /* Centrar horizontalmente */
    margin-top: 50px; /* Espacio superior para centrar verticalmente */
    margin-bottom: 40px;
}

/* Estilo para el formulario etiquetas y entradas */
form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

    
