
body { /* Cuerpo principal del contenido, de color blanco, que queda de fondo*/
    background-color: #545353;
    margin-left: 1.8cm;
    margin-right: 1.8cm;
}


/* Estilo HEADER encabezado con altura fija */
header{ 
    background-color: rgba(22, 156, 22, 0.9); /*color de fondo del encabezado*/
    height: 100px;  
    text-align: center; 
    margin: 0%;   
}

header a { 
    color: white;  /*color del texto del encabezado y pie de pagina*/
    font-size: 20px;
    text-decoration: none;
    padding: 10px;   
}

    /*Logo de la pagina que redireccionar a home cuando hacen clip*/
    #logo{
        width: 100px;
        height: 70px;
        background-size: cover;
        border-radius: 15px;
        cursor: pointer;
    }

    /* Estilos para el botón flotante */
    .container-boton{
        position: fixed;
        z-index: 999;
        border-radius: 50%;
        bottom: 15px;
        right: 20px;
        padding: 10px;
        transition: ease 0.3s;
        animation: efecto 1.2s infinite;
    }

/* Estilos para la barra de navegación */
.nav ul{
    list-style: none;
    text-align: center;
    background-image: url('img/soccer field background 1003.jpg');
    padding: 0%;
    margin: 0%;
}
  
.nav li{
    display: inline-block;
    background-color: #050505;  
}  

.nav a{
    color: white;
    text-decoration: double;
    width: 230px;
    display: block;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    font-family:'Montserrat', sans-serif;
}

/*Contenido*/
/*Contenedor publicidad encabezado*/
#container {
    width: 100%; /* Hace que el contenedor sea del 100% del ancho del viewport */
    margin: auto; /* Centra el contenedor horizontalmente */
    background-color: rgb(14, 12, 11); /* Color de fondo */
    padding: 1px; /* Agregamos un relleno al contenedor */
    
}

/* Contenedor general cuerpo principal */
#contenido {
    background-color: white;
    height: 1100px; /* Tamaño del contenido */
    justify-content: center;
    justify-items: center;
}

#fulbo{ /*Logo de la pagina*/
    margin-left: -1.8cm;
}

#menu {
    text-align: right; /*menu del encabezado*/
}

#menu a {
    margin: 0 20px;
}

#futbol-publicidad { /* Publicidad futbol retiro*/  
    max-width: 55%; /* Hace que la imagen no sea más ancha que el contenedor padre */
    height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción original */
    
    margin-top: 1cm; 
    margin-bottom: 1cm; 
    margin-left: 1.8cm; 
    margin-right: 1.8cm; 
}

#futbol-publicidad2 {
    max-width: 96%; /* Hace que la imagen no sea más ancha que el contenedor padre */
    height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción original */
   
    margin: auto auto; /* Márgenes superior e inferior de 1cm y auto en el margen izquierdo y derecho */
    display: block; /* Esto ayuda a centrar la imagen automáticamente */
    border-color: hsla(38, 96%, 51%, 0.956);
    border-style: ridge;
}

/*Contenedor Complejo futbo y comunidad*/
#contenedor {
    display: flex;
    
    height: auto; /* Se ajusta automáticamente según el contenido */
    margin-top: 1cm; 
    margin-bottom: 1cm; 
}

#contenedor .izquierdo {
    flex: 1; /* Toma el 50% del ancho del contenedor */
    text-align: center;
    border: 1px solid rgb(77, 75, 75);
    margin: 0 0.5cm; /* Margen de 0.5 cm a cada lado del contenedor izquierdo */
}

#contenedor .derecho {
    flex: 1; /* Toma el 50% del ancho del contenedor */
    text-align: center;
    border: 1px solid rgb(77, 75, 75);
    margin: 0 0.5cm; /* Margen de 0.5 cm a cada lado del contenedor derecho */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contenedor img,
#contenedor h2,
#contenedor p {
    margin: 10px; /* Ajusta el espacio entre los elementos según sea necesario */
}

/* Resto del CSS permanece igual */

#logoComplejo{
    width: 100px;
    height: 70px;
    background-size: cover;
    border-radius: 15px;
    cursor: pointer;
}


#titulo {           /* Titulo del Complejo lado izquierdo contenedor*/
    font-size: 25px;
    color: rgba(28, 28, 32, 0.9);  
    margin-top: 3%;
    margin-right: 2%;
}
#subtitulo {        /*Subtitulo del lado comunidad lado derecho del contenedor*/
    font-size: 25px;  
    color: rgba(28, 28, 32, 0.9);  
}
#login-link {
    text-decoration: none;
    color: blue;
}

#mensaje1{
    font-size: 19px;
}

#servicios {
    background-color: white; /* Fondo blanco del contenedor de servicios */
    margin: 10% 10%; /* Margen del 10% en los costados */
    margin-top: 60px;
    padding: -10%;
    text-align: center;
    color: black; /* Texto en color negro */
    
}
#descripcion {
    font-size: 22px;
}
.resaltar {
    color: rgb(28, 30, 28); /* Resaltar con color verde */
    font-size: 20px;
}

/*Contenedor publicidad video*/
#contenedorVideo {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se coloquen uno debajo del otro en pantallas más pequeñas */
    margin-top: -1cm; 
    margin-bottom: -1cm; 
    margin-left: 1.5%;
}

#video-Publicidad,
#publicidad3 {
    flex: 1; /* Toma el 50% del ancho del contenedor */
    max-width: 50%; /* Garantiza que no ocupe más del 50% del ancho del contenedor */
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
    margin-top: -1cm; 
    margin-bottom: -1cm; 
    margin-right: 1.5%;
}

#reservaVideo,
#futbol-publicidad3 {
    width: 100%; /* Ajusta el ancho del video/imagen al 100% del contenedor */
    height: 100%; /* Ajusta la altura al 100% del contenedor */
}

#tabs { /* barra de titulo en contenedor de la primera publicidad*/
    float: left;
    margin: 0 20px;
    background: #050505;
}



/* Estilo FOOTER el pie de página con altura fija */
footer {
    background:black;
    text-align: center;
    position: fixed;
    width: 100%;
    height: 7%;
    bottom: 0;
    margin: 1px;
   
}

footer p {
    color: white; /* Cambia este valor al color que desees */
    margin-top: 10px;
    font-family: Arial, sans-serif;
}