body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url(Imagenes/Cesped.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
} 

p{
    color: rgb(249, 249, 249);
    size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
} 

.nav ul{
    list-style: none;
    text-align: center;
    /* background-color: rgb(5, 4, 2); */
    background-image: url('Imagenes/buscacancha.webp');
    padding: 0%;
    margin: 0%;
}
  
.nav li{
    display: inline-block;
    background-color: #050505;
    
}  

.nav a{
    color: white;
    text-decoration: double;
    width: 230px;
    display: block;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

/* Estilo para el pie de página gris con altura fija */
footer {
    background-color: rgba(7, 1, 1, 0.9);
    padding: 20px;
    height: 30px; /* Altura fija */
    text-align: center; /* Centra el contenido horizontalmente */
    font-family: 'Montserrat', sans-serif;
    margin-top: 2rem;
}

footer p {
    color: #f3eeee; /* Cambia este valor al color que desees */
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-family: 'Montserrat', sans-serif;;
    text-align: center;
    color: white;
}

h2{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 25px;
    color: white;
}


h3{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 25px;
    color: white;
}

h4{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 25px;
    color: white;
}

div{
    text-align: center;

}

header{
    background-color:white;
}