body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url(Imagenes/FOOTBALL-RIVALS-FRIENDS-B2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header{
    background-color: #ffffff;
    
}

h2{
    color: #000000;
    text-align: center;
    font-size: 30;
    
}

h3{
    color: #000000;
    text-align: center;
}



.nav ul{
    list-style: none;
    text-align: center;
    /* background-color: rgb(5, 4, 2); */
    background-image: url('Imagenes/img5.png');
    padding: 0%;
    margin: 0%;
}
  
.nav li{
    display: inline-block;
    background-color: #050505;
    
}  

.nav a{
    color: white;
    text-decoration: double;
    width: 230px;
    display: block;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    font-family:'Montserrat', sans-serif;
}

/* Estilo para el pie de página gris con altura fija */
footer {
    background-color: rgba(7, 1, 1, 0.9);
    padding: 20px;
    height: 10px; /* Altura fija */
    text-align: center; /* Centra el contenido horizontalmente */
    font-family: 'Montserrat', sans-serif;
}

footer p {
    color: #f3eeee; /* Cambia este valor al color que desees */
    
}






/* Resto de tu código CSS */

/* Estilo para el formulario */
form {
    background-color: rgb(255, 255, 255);
    opacity: 0.95;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px; /* Ancho máximo del formulario */
    margin: 0 auto; /* Centrar horizontalmente */
    margin-top: 50px; /* Espacio superior para centrar verticalmente */
}

/* Estilo para el formulario etiquetas y entradas */
form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="text"],
form input[type="number"],
form input[type="email"],
form input[type="tel"] 
    width: 100%;
    padding: 10px;
    margin-bottom : 15px;
    border: 1



    
