body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('https://i.ibb.co/GxDZW95/2381abs8-1.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Estilo para el pie de p치gina gris con altura fija */
footer {
    background-color: rgba(7, 1, 1, 0.9);
    padding: 20px;
    height: 30px; /* Altura fija */
    text-align: center; /* Centra el contenido horizontalmente */
    font-family: 'Montserrat', sans-serif;
    margin-top: 2rem;
}
footer p {
    color: #f3eeee; /* Cambia este valor al color que desees */
    
}

.container {
    width: 300px;  /* Tama침o del contenedor*/
    height: 100vh;
    display: flex;
    flex-direction: column;   
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: -25px;
    
}


#logo {                 /* id = 'logo'*/
    width: 150px;       /* Tama침o del logo */
    margin-bottom: 20px;
    background-color:  transparent ; /* falta hacerlo trasparente el fondo logo*/
    border-radius: 15px;
    padding: 5px;
   
}

.login-box {
    background-color: rgba(255, 255, 255, 0.8); /* Color para que el login transparente */
    padding: 30px;       /* ancho de login box*/
    border-radius: 15px; /*borde del login-box*/
    text-align: center;
}

h2 {
    color: #333;
}

input[type="text"],input[type="password"] {
    width: 90%;         /*tama침o de los campos*/
    padding: 10px;
    margin: 5px 0;     /* margen de espacio entre los dos campos*/
    border: red;
    border-radius: 5px; /*Borde de los campos*/
    
}

button {
    background-color: blue; /* Color del boton de inicio de sesion*/
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}


.error {
    color: red;
    border: 1px solid red;
}

.error-message {
    color: red;
    font-size: small;
    
}

.nav ul{
    list-style: none;
    text-align: center;
    /* background-color: rgb(5, 4, 2); */
    background-image: url('img/soccer field background 1003.jpg');
    padding: 0%;
    margin: 0%;
}
  
.nav li{
    display: inline-block;
    background-color: #050505;
    
}  

.nav a{
    color: white;
    text-decoration: double;
    width: 230px;
    display: block;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.container-boton{

    position: fixed;
    z-index: 999;
    border-radius: 50%;
    bottom: 15px;
    right: 20px;
    padding: 10px;
    transition: ease 0.3s;
    animation: efecto 1.2s infinite;
}