/* Resetear estilos por defecto del navegador */
body, h1, h2, h3, p, ul, li, form, input, textarea {
    margin: 0;
    padding: 0;
}

/* Estilos del fondo de pantalla */
body {
    background: url('Imagenes/thumb-1920-923986.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh; /* 100% del viewport height */
    margin: 0;
    font-family: 'Arial', sans-serif; /* Puedes cambiar la fuente según tus preferencias */
}

/* Estilo para el encabezado gris transparente con altura fija */
header {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    height: 50px; /* Altura fija */
}
/* Estilos para el contenedor principal */
.contenido {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 40px;
}

/* Estilo para la parte izquierda  (título, subtítulo y párrafo) de contacto */
.informacion {
    width: 50%; /* Ancho de la parte izquierda */
    text-align: center;
    margin-left: 5%;
    margin-bottom: 22px; /* Espacio entre cada línea de texto */
}


/* Estilos para el formulario y el texto a la derecha */
.formularioConteiner {
    max-width: 400px; /* Ancho máximo del contenedor del formulario */
    width: 100%; 
    margin-right: 5%;
    text-align: center;
    background-color: rgb(255, 255, 255);   /* Fondo semi-transparente blanco para el formulario */
    padding: 20px;
    border-radius: 10px;
}

form { 
    text-align: left;
    padding: 20px;
    margin: 0 auto; /* Centra el formulario horizontalmente */
}

textarea {
    display: block;
    margin-bottom: 15px;
    width: 100%;
    font-size: 16px;
    margin-bottom: 15px; /* Añadir margen inferior para separar los campos */ 
    resize: none; /* Evitar que el textarea sea redimensionable por el usuario */
    box-sizing: border-box;
}


/* Agregar un borde gris a los campos del formulario */
form div[contenteditable="true"] {
    border: 1px solid #757474; /* Borde gris de 1 píxel */
    padding: 10px; /* Añadir un poco de espacio interno para mejorar la apariencia */
    margin-bottom: 15px; /* Espacio inferior entre los campos del formulario */
    width: 100%; /* Ancho del 100% para ocupar todo el contenedor */
    box-sizing: border-box; /* Incluir el padding y el borde en el ancho total */
}

/* Estilos para el pie de página */
footer {
    background-color: rgba(7, 1, 1, 0.9);
    padding: 20px;
    height: 30px; /* Altura fija */
    text-align: center; /* Centra el contenido horizontalmente */
    font-family: 'Montserrat', sans-serif;
    margin-top: 1rem;
}


.nav ul{
    list-style: none;
    text-align: center;
    background-image: url('img/soccer field background 1003.jpg');
    padding: 0%;
    margin: 0%;
}
  
.nav li{
    display: inline-block;
    background-color: #050505;
}

.nav a{
    color: white;
    text-decoration: double;
    width: 230px;
    display: block;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

h3, p, p1, p2, p3 {
    color: #fefefe;
    font-size: 20px;
}

.p2{
    text-align: center; /* Centrar el texto */
    margin-top: 20px; /* Espacio superior para separar del párrafo anterior */
}

.p2 i {
    margin-right: 5px; /* Añade un espacio entre el ícono y el texto */
}
p4{ /* Titulo del formulario ¿Queres saber mas?*/
    color: rgb(4, 4, 79, 0,3);
    font-size: 25px;
}

/* Estilo para el título informacion de Contacto */
h2 {
    color: #fefefe;
    text-align: center;
    font-size: 50px;
    margin-bottom: 40px;
}

.mensaje-validacion {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}